body {
    background-color: rgb(168, 168, 168);
    text-align: center;
    justify-content: center;
}

header {
    background-color: rgb(164, 0, 115);
    color: aliceblue;
    border-radius: 5px;
    margin: 10px auto;
    max-width: 75%;
    padding: 10px 0px;
}

main {
    background-color: rgb(103, 202, 103);
    border-radius: 5px;
    margin: auto;
    max-width: 75%;
    padding: 5px;
    color: aliceblue;
}

.article {
    background-color: rgb(230, 81, 118);
    border-radius: 5px;
    margin: 20px;
    margin: 10px;
    padding: 10px 0px;
}

aside {
    background-color: rgb(88, 88, 169);
    color: aliceblue;
    border-radius: 5px;
    margin: 10px auto;
    max-width: 75%;
    padding: 10px 0px;
}

footer {
    background-color: orange;
    color: aliceblue;
    border-radius: 5px;
    margin: 10px auto;
    max-width: 75%;
    padding: 10px 0px;
}